footer{
    width: 1020px;
    padding: 0.7rem 1.7rem;
    position: center;
    left: 50%;
    top: 2rem;
    display: flex;
    font-size  : 18px;
    text-align: center;
   
   
    
}
footer a{
    display: flex;
    color:white;
}
.article{
    margin-top: 2rem ;
    width: 1024px;
    display: flex;
    color: white;
    text-align: center;
}
.foot{
    display: flex;
    gap: 1rem;
}